html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header .header-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 60px;
  height: auto;
}

header nav {
  position: relative;
  cursor: pointer;
}

header nav:hover .icon span:nth-child(2) {
  width: 100%;
}

header nav:hover ul {
  display: block;
}

header nav .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header nav .icon span:not(span:nth-child(2)) {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}

header nav .icon span:nth-child(2) {
  width: 60%;
  transition: 0.5s;
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

header nav ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

nav ul li {
  padding: 15px;
  transition: margin-left 0.5s linear;
}

nav ul li:not(li:last-child) {
  border-bottom: 1px solid #ddd;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  padding: 15px;
}

nav ul li:hover {
  margin-left: 10px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/leon-portfolio/img/landing.jpg");
  background-position: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background-size: cover;
  position: relative;
}

.company-name {
  color: #10cab7;
}

.landing .landing-text {
  position: absolute;
  width: 320px;
  max-width: 100%;
  text-align: center;
  line-height: 1px;
}

.landing .landing-text p {
  font-size: 50px;
  color: #10cab7;
  font-weight: bolder;
  text-transform: capitalize;
}

.landing .landing-text h1 {
  font-weight: lighter;
  font-size: 19px;
  line-height: 1.8;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding: 50px 0px;
}

.feature {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 100%;
  text-transform: capitalize;
  gap: 34px;
  text-align: center;
}

.feature h3 {
  line-height: 50px;
  font-weight: bolder;
}

.feature p {
  line-height: 1.8;
}

.feature .the-first-feature {
  padding: 20px;
}

.feature .the-second-feature {
  padding: 20px;
}

.feature .the-third-feature {
  padding: 20px;
}

.feature img {
  width: 64px;
  height: auto;
  margin-bottom: 15px;
}

.s-heading {
  font-weight: 800;
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  letter-spacing: -8px;
}

.main-p {
  text-align: center;
  color: #797979;
  margin-top: -110px;
}

.services .image {
  position: relative;
  float: right;
  margin-top: -400px;
  width: auto;
  margin-right: 100px;
}

.services .image::before {
  content: "";
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  left: 205px;
  z-index: -1;
}

.services .image img {
  width: 260px;
}

.services .container-for-services {
  position: relative;
  max-width: 1000px;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 80px;
  position: relative;
}

.services .services-content i {
  color: #10cab7;
  margin-right: 10px;
}

.services .services-content p {
  color: #797979;
}

@media screen and (max-width: 1200px) {
  .services .image {
    display: none;
  }

  .services .services-content {
    position: flex;
    padding-left: 50px;
  }

  .services .services-content p,
  .services .services-content h3,
  .services .services-content i {
    display: flex;
    justify-content: center;
  }

  .services .image {
    display: none;
  }
}

.portfolio {
  background-color: #f6f6f6;
  padding: 30px 60px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 40px;
  margin-top: 52px;
}

.project {
  width: auto;
  height: auto;
  box-shadow: 2px 3px 15px #d7dcdf;
  background-color: white;
}

.project img {
  width: 100%;
  height: 50%;
}

.project h2 {
  text-align: center;
}

.project p {
  color: #777777;
  padding: 15px;
  line-height: 1.4;
}

.about img {
  width: 260px;
  height: 375px;
  position: relative;
}

.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  width: 100px;
  height: 448px;
  position: absolute;
  z-index: -1;
  margin-top: -35px;
  margin-left: -27px;
}

.about .about-content .image::after {
  content: "";
  width: 100px;
  height: 300px;
  border-left: 80px solid #10cab7;
  border-bottom: 80px solid #10cab7;
  position: absolute;
  z-index: -1;
  margin-top: -35px;
  margin-left: -50px;
}

.about-content {
  display: flex;
  padding: 100px;
  gap: 20px;
  align-items: center;
}

.about-content .par-content {
  line-height: 2;
  margin-left: 173px;
  flex-basis: calc(100% -500px);
  flex: 1;
}

.about-content .par-content .par-1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
}

hr {
  border-color: #10cab7;
  width: 300px;
  position: inline-block;
  margin: 0;
  padding: 0;
}

.about-content .par-content .par-2 {
  padding: 16px 0;
  color: #777777;
}

.contact {
  background-color: #f6f6f6;
  width: 100%;
}

.contact .contact-content {
  text-align: center;
  padding: 100px;
}

.contact .contact-content h2 {
  font-size: 35px;
  font-weight: 800;
  color: #2c4755;
}

.contact .contact-content a {
  text-decoration: none;
  font-size: 35px;
  color: #10cab7;
  font-weight: 800;
}

.contact .contact-content .links {
  margin-top: 10px;
}

.contact .contact-content .social-icons {
  margin-left: 300px;
  margin-top: -33px;
  color: #2c4755
}

.contact .contact-content .social-icons i:hover {
  color: #10cab7;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c4755;
  width: 100%;
  color: white;
  padding: 35px;
}

footer .copyright {
  font-size: 18px;
}

/* this is responsive design for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .feature {
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px;
    gap: 117px;
  }

  .s-heading {
    font-size: 70px;
  }

  .main-p {
    margin-top: -75px;
  }

  .projects {
    padding: 5px;
    gap: 53px;
  }

  .contact .contact-content h2,
  .contact .contact-content a {
    font-size: 18px;
  }

  .contact .contact-content {
    padding: 50px;
  }
}

/* this is responsive design for all devices except large screens */
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .feature {
    grid-template-columns: 50% 50%;
    grid-template-rows: 292px;
    gap: 0px;
  }
}

/* this for device from 991px to 0px */
@media screen and (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 80px 0 0 0;
  }

  .about .about-content .par-content {
    padding: 30px;
    margin: 0;
  }

  .about .about-content .image {
    padding: 0;
    margin: 0;
  }

  .about .about-content .image::after {
    width: 36.5px;
  }

  hr {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  .contact .contact-content .social-icons {
    margin: 0;
  }
}
